.App {
    display: flex;
    justify-content: center;
}
.hubt {
    display: flex;
    justify-content: space-between;
}
.hubt p {
    margin: 20px 20px;
    font-weight: bold;
    font-size: 18px;
}
.body {
    width: 30vw;
    height: 95vh;

    text-align: center;
}
.App-logo {
    margin-top: 70px;
    width: 100px;
    height: 100px;
}
.form-login input {
    width: 200px;
}
.form-login input:focus {
    outline: none;
}
.user {
    margin-top: 90px;
    padding: 10px 14vw 10px 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.pass {
    display: flex;
    /* margin-top: 30px; */
    border: 1px solid black;
    height: 35px;
    margin: 20px 0px 0px 17px;
    border-radius: 10px;
    padding-left: 10px;
    width: 415px;
}
.pass button {
    margin: 5px 0px 0px 60px;
    border: none;
    background: #fff;
}
.pass button:focus {
    outline: none;
}
.pass input {
    border: none;
    width: 300px;
}
.ckeck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    margin-top: 20px;
}
.ckeck input {
    margin-top: 8px;
}
.ckeck span {
    margin-right: 140px;
    align-content: center;
}
.login button {
    width: 420px;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: #44acf3;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}
.login button:focus {
    outline: none;
}
.pass button:hover {
    opacity: 0.7;
}
